.item{
    width: 300px;
    margin-left: 10px;
    overflow-y: hidden;
}

.item p{
    margin: 6px 0px;
    display: flex;
    background-color: black;
    color: white;
    width: 203px;
    margin-top: -5px;
    margin-left: 20px;
    height: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.item_prices{
    display: flex;
    gap: 20px;
}

.item-price-new{
    color: #373737;
    font-size: 18px;
    font-weight: 800;
}

.item-price-old{
    color: #8c8c8c;
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
}

.item:hover{
    transform: scale(1.05);
    transition: 0.6s;
}

.item img{
    height: 250px;
    width: 200px;
    margin-left: 20px;
    background-color: rgb(255 255 255);
    border: 2px solid black;
    margin-top: 20px;
    margin-bottom: 10px;
}

.item-content{
    margin-top: -5px;
}

.item-content button{
    display: flex;
    justify-content: center;
    margin-left: 75px;
    height: 40px;
    width: 100px;
    align-items: center;
    background-color: black;
    color: rgb(241, 145, 55);
    font-size: 15px;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
}

.item-content button:hover{
    background-color: rgb(241, 145, 55);
    color: white;
}
