.productdisplay{
    display: flex;
    gap: 100px;
}

.content{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.content h1{
    font-size: 50px;
}

.content p{
    font-size: 20px;
}

.content button {
    height: 33px;
    width: 179px;
    color: white;
    background: rgb(241, 145, 55);
    margin-left: 35%;
    margin-top: 30px;
    border-radius: 10px;
    border: none;
}

.content button:hover{
    background: black;
    color: white;
}

.left{
    height: 68vh;
    width: 82vw;
    overflow-y: hidden;
}

.left img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    overflow-y: hidden;
}