.product-page{
    background-color: rgb(241 145 5 / 22%);
    width: 80%;
    margin-left: 8.5%;
}
.category-section{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    gap: 20px;
}

.category-common{
    height: 200px;
    width: 200px;
    background-color: rgb(255, 255, 255);
    overflow-y: hidden;
    position: relative;
    z-index: 1;
    border: 1px solid black;
}

.category-name {
    background-color: rgb(241, 145, 55);
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 75%;
    justify-content: center;
    height: 50px;
}

.category-common img{
    position: absolute;
    z-index: -1;
    height: 200px;
    width: 200px;
}

.product-display{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
   width: 100%;
   margin-top: 50px;
   overflow-y: hidden;
   margin-bottom: 10px;
}