.welcome{
    margin: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 20, 20);
    color: white;
    height: 50px;
    font-family: cursive;
}

.welcome p{
    margin-top: 10px;
    font-size: 10px;
}
