.contact{
    margin-top: 100px;
    background-color: rgb(241, 145, 55);
}

.contact h1{
    font-size: 50px;
    color: black;
}

.contact-content{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.input{
    margin-left: 200px;
}

.input input{
    display: flex;
    margin-top: 20px;
    width: 500px;
    height: 50px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: left;
    font-size: 16px;
    color: black;
}

.input textarea{
    margin-top: 30px;
    width: 500px;
    height: 100px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: left;
    font-size: 16px;
    color: black;
}

.btn{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.btn button{
    height: 30px;
    width: 100px;
    border: none;
    background: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.btn button:hover{
    background-color: rgb(241, 145, 55);
    color: black;
    border: 2px solid black;
}

.side-image{
    margin-right: 100px;
}

.side-image img{
    height: 350px;
    width: fit-content;
}
